body {
    background-color: pink;
    display: flex;
    flex-direction: column;
}

/* Main content area */
.main-content {
    flex: 1; /* Tar upp allt tillgängligt utrymme */
}

/* Footer styling */
footer {
    background-color: #fff;
    text-align: center;
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* styles for image */
.card-img, .card-img-top {
    max-height: 400px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* center text in recipe cards */
.card-text, .card-title {
    text-align: center;
}

.card {
    border-style: none;
    margin: 10px;
    text-decoration: none;
}

.card-body {
    background-color: pink;
}

#recipe-card {
    background-color: white;
}

p {
    text-align: center;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

a {
    text-decoration: none;
}

.carousel-item img {
    max-width: 100%;
    height: auto;
    max-height: 80vh;
}

nav {
    text-decoration: none;
}

.post-link {
    color: black;
    text-decoration: none;
}

.post-link:hover {
    color: pink;
}

.welcome-title {
    color: black;
}

.btn {
    background-color: rgb(232, 81, 227);
}

/* link styles */
