{% extends "base.html" %}
{% block content %}

<!--  contact form for oreding or contacting -->
<form class="col-lg-6 offset-lg-3" id="contactform" method="POST" action="{% url 'contact' %}">
    {% csrf_token %}

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="optional">
    </div>

    <div class="form-group">
        <label for="message">Message</label>
        <textarea class="form-control" id="message" name="message" rows="3"
            placeholder="what can i help you with ?"></textarea>
    </div>

    <button type="submit" class="btn btn-primary" onclick="showAlert()">Submit</button>
</form>

{% endblock %}