{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="card text-bg-dark">
    <img src="../static/images/Skärmbild 2024-05-24 122245.png" class="card-img" alt="...">
    <div class="card-img-overlay">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small>Last updated 3 mins ago</small></p>
    </div>
  </div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <a href="{% url 'recipe_details' post.slug %}" class="post-link">
                            <h1> {{ post.title }} </h1>
                            <p class="card-text"> {{ post.excerpt }} </p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}