{% extends "base.html" %}
{% block content %}

<div class="front-img">
    <div class="card text-bg-dark">
        <div class="card-img-overlay">
            <h5 class="card-title">Välkommen till min sida!</h5>
            <p class="card-text"></p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
                    <div class="card-body">
                        <a href="{% url 'recipe_details' post.slug %}" class="post-link">
                            <h1> {{ post.title }} </h1>
                            <p class="card-text"> {{ post.excerpt }} </p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{%endblock%}